[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
httpie = "*"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
django-rest-framework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
