{% extends "./base.html" %}
{% block title %} DHAN Login {% endblock %}

{% block content %}

<div class="container">

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p class="mb-0">Incorrect username or password</p>
    </div>
    {% endif %}

    <div class="jumbotron">
        <h1 class="h4">Day has a Name</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">

            {% comment %} TODO: Insert reCAPTCHA {% endcomment %}
        </form>
    </div>

</div>

{% endblock%}
